In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("data/ipeds2021.csv")

In [16]:
df.head()

,UnitID,Institution,Loans2021,Pell2021,Control,Price2021,Enrollment2021,GradRate2021
0,493868,A Better U Beauty Barber Academy,259121.0,194325.0,3,NaN,53.0,NaN
1,177834,A T Still University of Health Sciences,NaN,NaN,2,NaN,3647.0,NaN
2,180203,Aaniiih Nakoda College,0.0,444680.0,1,NaN,143.0,31.0
3,491464,ABC Adult School,0.0,327310.0,1,NaN,125.0,50.0
4,459523,ABC Beauty Academy,0.0,599409.0,3,NaN,19.0,89.0

In [17]:
df['Pell'] = df['Pell2021']/1000000
df['Loans']=df['Loans2021']/1000000

In [18]:
df.head()

,UnitID,Institution,Loans2021,Pell2021,Control,Price2021,Enrollment2021,GradRate2021,Pell,Loans
0,493868,A Better U Beauty Barber Academy,259121.0,194325.0,3,NaN,53.0,NaN,0.194325,0.259121
1,177834,A T Still University of Health Sciences,NaN,NaN,2,NaN,3647.0,NaN,NaN,NaN
2,180203,Aaniiih Nakoda College,0.0,444680.0,1,NaN,143.0,31.0,0.444680,0.000000
3,491464,ABC Adult School,0.0,327310.0,1,NaN,125.0,50.0,0.327310,0.000000
4,459523,ABC Beauty Academy,0.0,599409.0,3,NaN,19.0,89.0,0.599409,0.000000

In [19]:
df.sort_values(by="Pell",ascending=False).head(10)

,UnitID,Institution,Loans2021,Pell2021,Control,Price2021,Enrollment2021,GradRate2021,Pell,Loans
4722,183026,Southern New Hampshire University,487777835.0,148135844.0,2,36006.0,145533.0,39.0,148.135844,487.777835
5938,433387,Western Governors University,252412501.0,142023524.0,2,NaN,150116.0,64.0,142.023524,252.412501
5617,484613,University of Phoenix-Arizona,361029181.0,135122506.0,3,NaN,85836.0,14.0,135.122506,361.029181
2150,104717,Grand Canyon University,289174142.0,131865834.0,3,32100.0,103072.0,45.0,131.865834,289.174142
5359,441371,Ultimate Medical Academy,53386050.0,127195364.0,2,NaN,5978.0,51.0,127.195364,53.386050
1932,133951,Florida International University,77683251.0,108974295.0,1,23997.0,56664.0,67.0,108.974295,77.683251
5474,132903,University of Central Florida,106415538.0,103649427.0,1,24036.0,70310.0,75.0,103.649427,106.415538
3123,135717,Miami Dade College,8766761.0,99901709.0,1,NaN,44002.0,35.0,99.901709,8.766761
295,104151,Arizona State University Campus Immersion,119985040.0,98340117.0,1,29774.0,77881.0,66.0,98.340117,119.985040
820,110608,California State University-Northridge,50579816.0,98245845.0,1,23163.0,40108.0,54.0,98.245845,50.579816

In [20]:
df['TotalFA']=df['Pell']+df['Loans']

In [21]:
df.sort_values(by="TotalFA",ascending=False).head(25)

,UnitID,Institution,Loans2021,Pell2021,Control,Price2021,Enrollment2021,GradRate2021,Pell,Loans,TotalFA
4722,183026,Southern New Hampshire University,487777835.0,148135844.0,2,36006.0,145533.0,39.0,148.135844,487.777835,635.913679
5617,484613,University of Phoenix-Arizona,361029181.0,135122506.0,3,NaN,85836.0,14.0,135.122506,361.029181,496.151687
2150,104717,Grand Canyon University,289174142.0,131865834.0,3,32100.0,103072.0,45.0,131.865834,289.174142,421.039976
5938,433387,Western Governors University,252412501.0,142023524.0,2,NaN,150116.0,64.0,142.023524,252.412501,394.436025
5133,495767,The Pennsylvania State University,220185152.0,76200269.0,1,38270.0,88914.0,72.0,76.200269,220.185152,296.385421
2814,232557,Liberty University,186326499.0,85445226.0,2,42114.0,94709.0,62.0,85.445226,186.326499,271.771725
1271,126827,Colorado Technical University-Colorado Springs,140234166.0,80762416.0,3,NaN,24016.0,23.0,80.762416,140.234166,220.996582
295,104151,Arizona State University Campus Immersion,119985040.0,98340117.0,1,29774.0,77881.0,66.0,98.340117,119.985040,218.325157
2029,134237,Full Sail University,154101061.0,56531229.0,3,NaN,25622.0,40.0,56.531229,154.101061,210.632290
5474,132903,University of Central Florida,106415538.0,103649427.0,1,24036.0,70310.0,75.0,103.649427,106.415538,210.064965
296,483124,Arizona State University Digital Immersion,155975364.0,53593345.0,1,NaN,57848.0,26.0,53.593345,155.975364,209.568709
4144,489779,Purdue University Global,134919487.0,54069427.0,1,NaN,43458.0,29.0,54.069427,134.919487,188.988914
1932,133951,Florida International University,77683251.0,108974295.0,1,23997.0,56664.0,67.0,108.974295,77.683251,186.657546
5359,441371,Ultimate Medical Academy,53386050.0,127195364.0,2,NaN,5978.0,51.0,127.195364,53.386050,180.581414
2639,135081,Keiser University-Ft Lauderdale,117530133.0,51566819.0,2,48704.0,19861.0,67.0,51.566819,117.530133,169.096952
334,154022,Ashford University,109583559.0,54809263.0,3,NaN,40362.0,9.0,54.809263,109.583559,164.392822
5061,228459,Texas State University,99534544.0,57588933.0,1,26275.0,37864.0,57.0,57.588933,99.534544,157.123477
5511,225511,University of Houston,76171278.0,76216259.0,1,25077.0,47031.0,62.0,76.216259,76.171278,152.387537
5037,228723,Texas A & M University-College Station,92531271.0,56826375.0,1,31703.0,72530.0,83.0,56.826375,92.531271,149.357646
820,110608,California State University-Northridge,50579816.0,98245845.0,1,23163.0,40108.0,54.0,98.245845,50.579816,148.825661
4372,186380,Rutgers University-New Brunswick,91959797.0,53099375.0,1,34130.0,50804.0,84.0,53.099375,91.959797,145.059172
2101,139940,Georgia State University,77365785.0,67330209.0,1,30834.0,36973.0,56.0,67.330209,77.365785,144.695994
2642,486840,Kennesaw State University,86317458.0,56772292.0,1,27253.0,42899.0,49.0,56.772292,86.317458,143.089750
5188,229027,The University of Texas at San Antonio,84782546.0,58274865.0,1,23474.0,34734.0,51.0,58.274865,84.782546,143.057411
388,222992,Austin Community College District,94241549.0,47364720.0,1,NaN,35609.0,9.0,47.364720,94.241549,141.606269

In [22]:
df.sort_values(by="Enrollment2021",ascending=False).head(25)

,UnitID,Institution,Loans2021,Pell2021,Control,Price2021,Enrollment2021,GradRate2021,Pell,Loans,TotalFA
5938,433387,Western Governors University,252412501.0,142023524.0,2,NaN,150116.0,64.0,142.023524,252.412501,394.436025
4722,183026,Southern New Hampshire University,487777835.0,148135844.0,2,36006.0,145533.0,39.0,148.135844,487.777835,635.913679
2150,104717,Grand Canyon University,289174142.0,131865834.0,3,32100.0,103072.0,45.0,131.865834,289.174142,421.039976
2814,232557,Liberty University,186326499.0,85445226.0,2,42114.0,94709.0,62.0,85.445226,186.326499,271.771725
5133,495767,The Pennsylvania State University,220185152.0,76200269.0,1,38270.0,88914.0,72.0,76.200269,220.185152,296.385421
2530,150987,Ivy Tech Community College,36557566.0,88492397.0,1,NaN,86100.0,30.0,88.492397,36.557566,125.049963
5617,484613,University of Phoenix-Arizona,361029181.0,135122506.0,3,NaN,85836.0,14.0,135.122506,361.029181,496.151687
295,104151,Arizona State University Campus Immersion,119985040.0,98340117.0,1,29774.0,77881.0,66.0,98.340117,119.985040,218.325157
5037,228723,Texas A & M University-College Station,92531271.0,56826375.0,1,31703.0,72530.0,83.0,56.826375,92.531271,149.357646
5474,132903,University of Central Florida,106415538.0,103649427.0,1,24036.0,70310.0,75.0,103.649427,106.415538,210.064965
1460,224615,Dallas College,21693317.0,81737929.0,1,NaN,69171.0,19.0,81.737929,21.693317,103.431246
2869,227182,Lone Star College System,33375309.0,58733634.0,1,NaN,68653.0,18.0,58.733634,33.375309,92.108943
3721,204796,Ohio State University-Main Campus,91667407.0,46413362.0,1,29022.0,61677.0,88.0,46.413362,91.667407,138.080769
3509,193900,New York University,44913536.0,26868352.0,2,79746.0,58226.0,87.0,26.868352,44.913536,71.781888
296,483124,Arizona State University Digital Immersion,155975364.0,53593345.0,1,NaN,57848.0,26.0,53.593345,155.975364,209.568709
1932,133951,Florida International University,77683251.0,108974295.0,1,23997.0,56664.0,67.0,108.974295,77.683251,186.657546
5520,145637,University of Illinois Urbana-Champaign,59603090.0,42594728.0,1,31636.0,56607.0,85.0,42.594728,59.603090,102.197818
5680,488846,University of the People,0.0,0.0,2,NaN,56292.0,23.0,0.000000,0.000000,0.000000
5499,134130,University of Florida,30461957.0,44247633.0,1,21431.0,55781.0,91.0,44.247633,30.461957,74.709590
5544,163204,University of Maryland Global Campus,66783445.0,44516425.0,1,NaN,55323.0,21.0,44.516425,66.783445,111.299870
5694,236948,University of Washington-Seattle Campus,33665337.0,32341036.0,1,30640.0,52434.0,84.0,32.341036,33.665337,66.006373
5564,174066,University of Minnesota-Twin Cities,71235092.0,29039094.0,1,29416.0,52376.0,84.0,29.039094,71.235092,100.274186
5185,228778,The University of Texas at Austin,65902581.0,46639532.0,1,29788.0,51991.0,88.0,46.639532,65.902581,112.542113
4372,186380,Rutgers University-New Brunswick,91959797.0,53099375.0,1,34130.0,50804.0,84.0,53.099375,91.959797,145.059172
4146,243780,Purdue University-Main Campus,56153548.0,25556537.0,1,22812.0,50344.0,83.0,25.556537,56.153548,81.710085